:root {
    --primary-color: rgb(17, 17, 17);
    --hover-transition: all 4s;
}


.header__logo a {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: bold;
}

.header__top {
    padding: 1.8em 0;
}

.footer {
    padding: 0;
}

.footer__copyright__text {
    margin: 0;
}

.regular-form input {
    color: #fff;
    margin-bottom: 1em;
    padding: 1em;
}

    .regular-form input:hover, .regular-form input:focus {
        color: #b7b7b7;
    }

.form-links a {
    color: var(--primary-color);
    font-size: 1em;
}

.form-links a:hover, .form-links:focus {
    color: #777;
}

.admin-btn {
    font-size: .8em;
}

.admin-btn:hover {
    color: #777;
}

.cancel-btn .cancel-btn a {
    font-size: .8em;
    background-color: #b7b7b7;
    color: var(--primary-color);
   
}

    .cancel-btn:hover {
        color: #fff;
    }

.action-icon {
    padding: 0 1em;
    color: var(--primary-color);
}

    .action-icon:hover, .action-icon:focus {
        color: #b7b7b7;
    }

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.form-container {
    border: 1px var(--primary-color) solid;
    width: 40%;
    margin: auto;
    padding: 2em;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.11);
}

.form-container-product {
    border: 1px var(--primary-color) solid;
    width: 60%;
    margin: auto;
    padding: 2em;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.11);
}

.nice-select {
    padding: 0 2.5em 0 1em;


}

.category-tab {
    color: var(--primary-color);
    font-weight: bold;
}

.category-tab:hover {
    color: #777;
}

.active {
    border-bottom: 1px solid red;
}

.nav-tabs {
    border-bottom: none;
}

.spad {
    padding: 3em 0;
}


.banner__item__text {
    text-align: center;
}

.banner__item__pic {
    
    width: 25em;
    height: 25em;
}

.product__item__pic img {
    width: 15em;
    height: 15em;
}

.pagination {
    text-align: center;
}

.product__details__pic {
    background-color: #fff;
}

.continue-btn {
    font-size: 14px;
    color: #ffffff;
    background: #111111;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 30px;
}

