@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = Model.Name;
}

<h2 class="text-center mb-4">@ViewBag.Title</h2>

<div class="container">

    <h4 class="text-center mb-4">Users in this role</h4>

    @if (ViewBag.UserCount == 0)
    {
        <hr />
        <p class="text-center">No users found in this role.</p>
    }


        <div class="text-center w-50 m-auto">
            <ul class="list-group">
                @foreach (var item in ViewBag.Users)
                {

                    <li class="list-group-item">
                        @item.UserName
                    </li>

                }
            </ul>
            <div class="text-right mt-4">
                <a href="@Url.Action("Index", "RolesAdmin")" class="site-btn cancel-btn ml-2">Back</a>
                <a href="@Url.Action("Edit", "RolesAdmin", new { id = Model.Id })" class="site-btn admin-btn ml-2">Edit</a>
            </div>
        </div>

    
</div>



